body {
    font-family: Cormorant, serif;
}

/* NAV */

.header, .nav, .nav__item {
    display: inline-block;
}

.header__container {
    margin: 32px;
}

.header {
    font-weight: 300;
    margin: 0;
    margin-right: 32px;
}

.nav__list {
    padding: 0;
}

.nav__link {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin: 0 8px;
}

.active {
    border-bottom: 1px solid #000;
}

/* END OF NAV */

/* GALLERY */

.gallery {
    padding: 16px;
}

.box {
    width: 49.75%;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
}

.box__image {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.box__image:hover {
    opacity: 0.9;
}

.box__header {
    display: inline-block;
    margin: 8px 0 16px 0;
    font-weight: 300;
}

/* END OF GALLERY */

/* ABOUT */

.about {
    width: 45%;
    min-width: 600px;
    margin: 100px 0 100px 200px;
}

.about__description {
    font-size: 40px;
    font-weight: 300;
}

.cta {
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 0;
}

.contact {
    margin-top: 100px;
}

.contact__email, .contact__phone {
    margin: 0;
    font-size: 20px;
}

/* END OF ABOUT */